@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.app-header {
  width: calc(100vw - 40px);
  height: 10vh;
  position: fixed;
  background-color: var(--danger);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: "Righteous";
}

.app-content {
  margin-top: calc(10vh + 40px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.app-title {
  margin-left: 5px;
  cursor: pointer;
}

.app-no-match {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.git {
  justify-self: right;
}

.app-logo {
  display: "flex";
  align-items: "center";
}
